@import 'tailwindcss';
@tailwind utilities;

@layer utilities {
	.bg-slanted {
		background-image: linear-gradient(135deg, var(--primary-color) 50%, var(--secondary-color) 50%);
	}

	.btn-pill {
		@apply flex items-center justify-center gap-1 rounded-full border border-gray-200 p-2 text-xs text-gray-200 hover:cursor-pointer hover:bg-gray-200 hover:text-[var(--secondary-color)] sm:text-sm md:gap-2 md:text-base;
	}
}

body {
	padding: 0;
	margin: 0;

	--primary-color: #25755d;
	--secondary-color: #1c7ea8;
}
