# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files - aligned with Palantir Java Format and Spotless
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true

# XML files (pom.xml, checkstyle, etc.)
[*.xml]
indent_style = space
indent_size = 4
max_line_length = 120

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# JavaScript/TypeScript - aligned with Prettier config
[*.{js,ts,mjs,cjs}]
indent_style = tab
indent_size = 2
max_line_length = 120

# Svelte files - aligned with Prettier config
[*.svelte]
indent_style = tab
indent_size = 2
max_line_length = 120

# JSON files
[*.json]
indent_style = tab
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_style = tab
indent_size = 2
max_line_length = 120

# HTML files
[*.html]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2

# GitHub Actions
[.github/workflows/*.{yml,yaml}]
indent_style = space
indent_size = 2
