# Default ignored files
.idea
.vscode
*.iml

/backend/**/target

/mobileapp/test-results
/mobileapp/node_modules

# Output
/mobileapp/.output
/mobileapp/.vercel
/mobileapp/.svelte-kit
/mobileapp/build
/mobileapp/dist
/mobileapp/docs
/mobileapp/visualize

# OS
/mobileapp/.DS_Store
/mobileapp/Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
/mobileapp/vite.config.js.timestamp-*
/mobileapp/vite.config.ts.timestamp-*

/mobileapp/*storybook.log

# android and ios
/mobileapp/android
/mobileapp/ios

# database
/backend/db

# Flutter
/webapp/.dart_tool/
/webapp/.flutter-plugins
/webapp/.flutter-plugins-dependencies
/webapp/.pub-cache/
/webapp/.pub/
/webapp/build/