# Default ignored files
.idea
target

/orgaapp-frontend/test-results
/orgaapp-frontend/node_modules
/orgaapp-frontend/node

# Output
/orgaapp-frontend/.output
/orgaapp-frontend/.vercel
/orgaapp-frontend/.svelte-kit
/orgaapp-frontend/build
/orgaapp-frontend/dist
/orgaapp-frontend/docs

# OS
/orgaapp-frontend/.DS_Store
/orgaapp-frontend/Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
/orgaapp-frontend/vite.config.js.timestamp-*
/orgaapp-frontend/vite.config.ts.timestamp-*

/orgaapp-frontend/*storybook.log

# android and ios
/orgaapp-frontend/android
/orgaapp-frontend/ios