:root {
	--ion-color-white: #ffffff;
	--ion-color-white-rgb: 255, 255, 255;
	--ion-color-white-contrast: #000000;
	--ion-color-white-contrast-rgb: 0, 0, 0;
	--ion-color-white-shade: #e0e0e0;
	--ion-color-white-tint: #ffffff;

	--ion-color-black: #000000;
	--ion-color-black-rgb: 0, 0, 0;
	--ion-color-black-contrast: #ffffff;
	--ion-color-black-contrast-rgb: 255, 255, 255;
	--ion-color-black-shade: #000000;
	--ion-color-black-tint: #191919;
}

.ion-color-white {
	--ion-color-base: var(--ion-color-white);
	--ion-color-base-rgb: var(--ion-color-white-rgb);
	--ion-color-contrast: var(--ion-color-white-contrast);
	--ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
	--ion-color-shade: var(--ion-color-white-shade);
	--ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-black {
	--ion-color-base: var(--ion-color-black);
	--ion-color-base-rgb: var(--ion-color-black-rgb);
	--ion-color-contrast: var(--ion-color-black-contrast);
	--ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
	--ion-color-shade: var(--ion-color-black-shade);
	--ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-primary-light {
	--ion-color-base: #a8d5c5;
	--ion-color-base-rgb: 168, 213, 197;
	--ion-color-contrast: #000000;
	--ion-color-contrast-rgb: 0, 0, 0;
	--ion-color-shade: #96bfb2;
	--ion-color-tint: #b9dbce;
}

.ion-color-secondary-light {
	--ion-color-base: #a8cfe5;
	--ion-color-base-rgb: 168, 207, 229;
	--ion-color-contrast: #000000;
	--ion-color-contrast-rgb: 0, 0, 0;
	--ion-color-shade: #95b9cc;
	--ion-color-tint: #b9d8eb;
}

.ion-color-tertiary-light {
	--ion-color-base: #90c5ce;
	--ion-color-base-rgb: 144, 197, 206;
	--ion-color-contrast: #000000;
	--ion-color-contrast-rgb: 0, 0, 0;
	--ion-color-shade: #80aeb6;
	--ion-color-tint: #a3d0d7;
}
