//nexus.kollapp.org/repository/:_authToken=NpmToken.7f7eea42-99c8-377f-914b-9cb20b5a21e0
engine-strict=true
registry=https://registry.npmjs.org/
@kollapp:registry=https://nexus.kollapp.org/repository/npm