.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.ts.timestamp-*
/test-results
/coverage
/docs
/assets
/icons
/src/lib/assets
/src/lib/locales/de.json
/src/lib/locales/en.json
/static

# Ignore lock file
pnpm-lock.yaml

# Ignore build files
/android
/ios
