.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.ts.timestamp-*
/test-results
/docs
/assets
/icons
/static

# Ignore lock file
pnpm-lock.yaml

# Ignore build files
/android
/ios
