@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar-hide';

@custom-variant light (&:is(.light *));
@custom-variant dark (&:is(.dark *));
@custom-variant bw (&:is(.bw *));

@import './themes/colors.css';

@import './themes/light.css';
@import './themes/dark.css';
@import './themes/bw.css';

:root {
	ion-item {
		--padding-start: 0;

		:first-child {
			padding-left: 8px;
		}

		ion-icon {
			margin: 0;
		}
	}

	ion-item:has(ion-chip) {
		:first-child {
			padding-left: 4px;
		}
	}

	ion-button {
		text-transform: none;
	}

	ion-toast {
		--button-color: var(--ion-color-white);
	}

	.scroll-viewport {
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.sc-ion-searchbar-ios-h {
		--background: var(--ion-background-color-step-50);
		--border: 1px solid var(--ion-border-color);
	}
}

body {
	/** backdrop color **/
	--ion-backdrop-color: var(--ion-background-color-step-950);

	/** backdrop opacity **/
	--ion-backdrop-opacity: 0.4;

	/** overlay background color **/
	--ion-overlay-background-color: var(--ion-background-color);

	/** border color **/
	--ion-border-color: var(--ion-background-color-step-200);

	/** box shadow color **/
	--ion-box-shadow-color: var(--ion-background-color-step-950);

	/** tab bar color **/
	--ion-tab-bar-background: var(--ion-background-color-step-50);
	--ion-tab-bar-background-focused: var(--ion-background-color-step-100);
	--ion-tab-bar-border-color: var(--ion-border-color);
	--ion-tab-bar-color: var(--ion-text-color-step-350);
	--ion-tab-bar-color-selected: var(--ion-color-secondary);

	/** toolbar color **/
	--ion-toolbar-background: var(--ion-color-primary);
	--ion-toolbar-border-color: var(--ion-border-color);
	--ion-toolbar-color: var(--ion-color-primary-contrast);

	/** segment color **/
	--ion-toolbar-segment-color: var(--ion-text-color-step-350);
	--ion-toolbar-segment-color-checked: var(--ion-color-primary);
	--ion-toolbar-segment-background: var(--ion-background-color-step-50);
	--ion-toolbar-segment-background-checked: var(--ion-background-color-step-50);
	--ion-toolbar-segment-indicator-color: var(--ion-color-primary);

	/** item color **/
	--ion-item-background: transparent;
	--ion-item-border-color: var(--ion-border-color);
	--ion-item-color: var(--ion-text-color-50);

	/** placeholder color **/
	--ion-placeholder-color: var(--ion-text-color-step-150);

	/** button color **/
	--ion-button-color: var(--ion-color-text);
}

.md {
	ion-segment-button::part(native) {
		font-size: 3vw;
	}
}
