@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@config '../tailwind.config.ts';

@import './themes/light.css';
@import './themes/dark.css';
@import './themes/bw.css';

@import './themes/common.css';
@import './themes/colors.css';

@custom-variant light (&:is(.light *));
@custom-variant dark (&:is(.dark *));
@custom-variant bw (&:is(.bw *));

:root {
	ion-item {
		--padding-start: 0;

		:first-child {
			padding-left: 8px;
		}

		ion-icon {
			margin: 0;
		}
	}

	ion-button {
		text-transform: none;
	}

	ion-toast {
		--button-color: var(--ion-color-white);
	}
}
