@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes/light.pcss';
@import './themes/dark.pcss';
@import './themes/black-and-white.pcss';

@import './themes/common.pcss';
@import './themes/colors.pcss';

:root {
	ion-item {
		--padding-start: 0;

		:first-child {
			padding-left: 8px;
		}

		ion-icon {
			margin: 0;
		}
	}
}
