@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './themes/light.pcss';
@import './themes/dark.pcss';
@import './themes/fancy.pcss';
@import './themes/black-and-white.pcss';

@import './themes/common.pcss';

:root {
	ion-list {
		ion-item {
			--padding-start: 0;

			:first-child {
				padding-left: 8px;
			}
		}
	}
}
