@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'theme.pcss';

:root {
	ion-list {
		padding-top: 0;
		padding-bottom: 0;
		background: none;

		ion-item {
			--padding-start: 0;

			:first-child {
				padding-left: 16px;
			}
		}
	}
}
