<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}">Password Reset</title>
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}" />
</head>

<body>
<div class="container">
    <div class="logo">
        <img alt="Kollapp Logo" th:src="${logoUrl}" width="120"/>
    </div>
    <h1 th:text="${title}">Forgotten your password?</h1>
    <p th:text="${text}">No problem! Just click the link below and set a new one.</p>
    <a class="button" th:href="${resetPasswordUrl}" th:text="${button}">Change password</a>
</div>
</body>
</html>
