<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}">Account Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/account-confirmed.css}" />
</head>

<body>
    <div class="container">
        <div class="logo">
            <img alt="MaltMap Logo" th:src="${logoUrl}" width="120" />
        </div>
        <h1 th:text="${header}">Welcome to Maltmap</h1>
        <p th:text="${text}">Your account is confirmed and you can log in now.</p>
        <a class="button" th:href="${downloadAppUrl}" th:text="${button}">Get Kollapp App</a>
    </div>
</body>

</html>